page-add-customer-model {
  .logitem {
    background-color: transparent;
    padding-bottom: 5px;
  }
  .logitem1 {
    background-color: transparent;

    p {
      color: #ea6153;
      margin: 0;
      padding: 0;
    }
  }
}
ion-select {
  .select-text {
    font-size: 0.95em;
    color: #000;
  }
}
