<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "POI List" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="addPOI()">
        <ion-icon color="light" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let list of allData._poiListData; let i=index">
    <ion-item>
      <ion-thumbnail item-start>
        <!-- <img class="loaction-image" [src]="list.staticImageUrl" /> -->
        <div id="{{ list.mapid }}" style="height: 100px; width: 100px;"></div>
      </ion-thumbnail>
      <h1>{{ list.poiname }}</h1>
      <p style="color: #429FF0">{{ "Radius:" | translate }} {{ list.radius }}</p>
      <!-- <p> -->
      <ion-row>
        <ion-col col-1>
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="start_address(list, i)">
          <!-- <div class="overme"> -->
            <p style="margin: 0px;">{{ list.addres }}</p>
          <!-- </div> -->
        </ion-col>
      </ion-row>
      <!-- </p> -->
      <p>
        <button ion-button round small (click)="editPOI(list)">
          {{ "Edit" | translate }}
        </button>
        <button ion-button round small color="gpsc" (click)="deletePOI(list)">
          {{ "Delete" | translate }}
        </button>
      </p>
    </ion-item>
  </ion-card>
</ion-content>
